/install/display/elasticsearch-7.8.0-linux-x86_64.tar.gz
/install/display/grafana-7.1.0-1.x86_64.rpm
/install/display/prometheus-2.19.2.linux-amd64.tar.gz
/install/capture/filebeat-7.8.0-x86_64.rpm
/install/capture/openssl-1.1.1f.tar.gz
/install/capture/pyenv-master.zip
/install/capture/pyenv-virtualenv-master.zip
/logs/dbmon.log
/logs/filebeat.log
